<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.moonlveearth.tinhnhanh"
    versionCode = "10"
    version     = "1.0.0" >

  <name>Tinh nhanh </name>
  <description>
      Emyeutinhoc.com
  </description>
  <author href="https://emyeutinhoc.com" email="m.yeutinhoc@gmail.com">
      wildabeast
  </author>
<icon scr="tinhnhanh.png"/>
</widget>
